#image{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#image img{
    height:400px;
    width: 450px;
    border: 3px black;

}